@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #182646;
}

/* navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(5px);
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 50px;
    transition: 1s ease-in-out;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

a:hover {
    color: #5EA3FF;
}

.navbar ul {
    display: flex;
    font-size: 20px;
    list-style: none;
}

/* content div for router*/
#content {
    min-height: 93vh;
    height: auto;
    background-color: #182646;
}

/* hero section */
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: white;
}

.my-title {
    position: relative;
    text-align: center;
    font-size: 30px;
}

.cv-btn {
    position: relative;
    width: 170px;
    height: 50px;
    background: #5EA3FF;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    cursor: pointer;
    transition: .2s ease-in-out;
    align-items: center;
}

.cv-btn i {
    margin-right: 5px;
}

/* about me */
.about-container {
    position: relative;
    width: 80%;
    top: 10%;
    margin-left: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    border-radius: 5px;
    transition: transform .2s;
}

.about-container:hover {
    transform: scale(1.02);
}


.about-text {
    width: 60%;
}

.about-img {
    width: 40%;
    display: flex;
    justify-content: center;
}
.avatar {
    right: 0;
    height: 500px;
    border-radius: 5%;
    margin: auto;
}


/*skills */
.skills-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 40px;
    color: white;
}

.row {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: row;
}

.col {
    width: 60%;
}

.back {
    border-left: 2px solid #AAAAAA;
    border-right: 2px solid #AAAAAA;
}

.skills-part {
    font-size: 40px;
    margin-bottom: 1em;
}

.skills-content li {
    text-decoration: none;
    list-style: none;
    font-size: 25px;
}

/* projects */
.projects-heading{
    color: white;
    padding-left: 20px;
    margin-bottom: 30px;
 }

.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.projects-card{
    flex: 49%;
    margin-left: 10px;
    transition: transform .2s;
}

.projects-name{
    color: white;
    margin-top: 20px;
}


.projects-desc{
    color: white;
    margin-bottom: 30px;
}
.projects-prev{
    width: 1905px;
    max-width: 99%;
    height: auto;
}

.projects-card:hover{
    transform: scale(1.01);
}

.wrap-button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 40%;
    justify-content:start;
    margin-bottom: 25px;
}

.projects-button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
}

.projects-button:hover{
    background-color: white;
    color: black;
}
