* {
    color: white;
}

.header {
    background-color: #282833;
    padding: 20px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.title {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}