* {
    color: white;
}

.header {
    background-color: #282833;
    padding: 20px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.title {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}

.title:hover {
    background-color: #48485e;
    box-shadow: 0 0 2px 2px #48485e;
    transform: scale(1.02);
}

.button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    background-color: #48485e;
    box-shadow: 0 0 2px 2px #48485e;
    transform: scale(1.02);
}