* {
    color: white;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
    background: rgba(40, 40, 51, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(40, 40, 51, 0.18);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;
}


.title {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}

.title:hover {
    background-color: #48485e;
    box-shadow: 0 0 2px 2px #48485e;
    transform: scale(1.02);
}

.button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    background-color: #48485e;
    box-shadow: 0 0 2px 2px #48485e;
    transform: scale(1.02);
}