.education {

}


.schools {
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.school {

}

.schoolWrapper {
    justify-content: center;
}

.educationGridItem {
    position: relative;
    height: 150px;
    width: 500px;
    border-radius: 7px;
    margin: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}