
<div class="projects">
    <h2 class="projects-heading">here are my latest projects : </h2>

    <div class="projects-container">

        <div class="projects-card">
            <img class="projects-prev" alt="linktree" src="./img/dashboard.PNG">
            <div class="projects-info">
                <h3 class="projects-name">dashboard</h3>
                <p style="color: white">/ tableau de bord /</p>
                <p class="projects-desc">visual presentation of important information on the same screen (youtube, spotify and more).</p>
                <div class="wrap-button">
                    <button type="button" class="projects-button github" onclick="window.open('https://google.com')">github</button>
                    <button type="button" class="projects-button visual" onclick="window.open('https://google.com')">visualize</button>
                </div>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-prev" alt="forhelp" src="./img/jobboard.png">
            <div class="projects-info">
                <h3 class="projects-name">jobboard</h3>
                <p style="color: white">/ site d'emploi /</p>
                <p class="projects-desc">website that provides job offers.</p>
                <div class="wrap-button">
                    <button type="button" class="projects-button github" onclick="window.open('https://google.com')">github</button>
                </div>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-prev" alt="linktree" src="./img/linktree.png">
            <div class="projects-info">
                <h3 class="projects-name">linktree</h3>
                <p class="projects-desc">personal page that included all my social media's links.</p>
                <div class="wrap-button">
                    <button type="button" class="projects-button github" onclick="window.open('https://github.com/therealminhduc/linktree')">github</button>
                    <button type="button" class="projects-button visual" onclick="window.open('http://therealminhduc.atwebpages.com/')">visualize</button>
                </div>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-prev" alt="forhelp" src="./img/forhelp_index.PNG">
            <div class="projects-info">
                <h3 class="projects-name">forhelp</h3>
                <p class="projects-desc">year-end project, exchange forum for students, similar as stackoverflow x reddit.</p>
                <div class="wrap-button">
                    <button type="button" class="projects-button github" onclick="window.open('https://github.com/Foword5/forhelp')">github</button>
                </div>
            </div>
        </div>

    </div>
</div>

