<div>
    <h1 class="projects-page">projects</h1>

    <div class="project-container p1">
<!--        <img src="../img/blank_profile.jpg">-->
        <h2 class="project-title">Dashboard</h2>
        <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, temporibus!</p>
    </div>

    <div class="project-container p2">
        <!--        <img src="../img/blank_profile.jpg">-->
        <h2 class="project-title">Jobboard</h2>
        <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, temporibus!</p>
    </div>

    <div class="project-container p3">
        <!--        <img src="../img/blank_profile.jpg">-->
        <h2 class="project-title">Linktree</h2>
        <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, temporibus!</p>
    </div>

    <div class="project-container p4">
        <!--        <img src="../img/blank_profile.jpg">-->
        <h2 class="project-title">ForHelp</h2>
        <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, temporibus!</p>
    </div>
</div>

