<div>
    <h1 class="skills-title">My skills</h1>

    <div class="row">
        <div class="col">
            <h3 class="skills-part">Front-end</h3>

            <ul class="skills-content">
                <li>HTML</li>
                <li>CSS</li>
                <li>TypeScript</li>
                <li>JavaScript</li>
                <li>Angular</li>
            </ul>
        </div>

        <div class="col back">
            <h3 class="skills-part">Back-end</h3>

            <ul class="skills-content">
                <li>PHP</li>
                <li>Java Spring Boot</li>
                <li>MySQL</li>
                <li>MongoDB</li>
            </ul>
        </div>

        <div class="col">
            <h3 class="skills-part">Mobile</h3>

            <ul class="skills-content">
                <li>Java</li>
                <li>Kotlin</li>
                <li>Flutter/Dart</li>
            </ul>
        </div>
    </div>
</div>